<!DOCTYPE html>
<html lang="en" xmlns:background-color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" type="text/css" href="../client/Todo.core.main.css"/>
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-material/angular-material.css"/>
    <link rel="stylesheet" type="text/css" href="../node_modules/angular-material-icons/angular-material-icons.css"/>

    <script src="../node_modules/angular/angular.js"></script>
    <script src="../node_modules/angular-animate/angular-animate.js"></script>
    <script src="../node_modules/angular-aria/angular-aria.js"></script>
    <script src="../node_modules/angular-material/angular-material.js"></script>
    <script src="../node_modules/angular-material-icons/angular-material-icons.js"></script>

    <script src="../client/Todo.core.main.js"></script>
    <script src="../client/dialog.js"></script>
    <script src="../client/dataService.js"></script>

</head>
<body ng-app="todoCoreModule">

<div ng-controller="todoCoreController as todoCore">


<!--
=====================================
    MAIN CONTENT DASHBOARD DIV
=====================================
-->
    <div layout="column">

        <div class="mainContent">

            <div layout="row" layout-fill layout-align="start start">

                <md-button class="md-icon-button md-primary" aria-label="Settings" ng-click="todoCore.toggleLeft()">
                    <ng-md-icon icon="menu" style="fill: white" size="30"></ng-md-icon>
                </md-button>
            </div>

            <div layout="row" layout-margin>
                <div>
                    <img src="../images/user-icon-set-14.jpg" class="faceRadius"/>
                </div>

                <div>
                    <p style="color: #9AC1DA" class="md-title">Taimoor Tariq</p>
                </div>
            </div>
        </div>

        <div layout="row" layout-align="center center">

            <div class="remainingTask" layout-fill layout-padding>
                <p layout="row" layout-align="center center">

                    {{todoCore.todos.length}}<br/>
                    remaining task
                </p>
            </div>

            <div class="completedTask" layout-fill layout-padding>
                <p layout="row" layout-align="center center">
                    {{todoCore.remainingTask.length}} <br/>
                    completed task

                </p>
            </div>

        </div>

        <div layout="row" layout-align="center center">
            <md-button style="position: relative; top: -136px;" class="md-fab md-primary" ng-click="todoCore.showDialog($event)">
                <ng-md-icon icon="add" style="fill: black" size="25"></ng-md-icon>

            </md-button>
        </div>

        <span>TODAY</span>

        <div ng-repeat="itrateingVariable in todoCore.todos" layout-padding>
            <ul>
                <li>
                {{itrateingVariable.todo}}
                </li>
            </ul>

        </div>

    </div>


</div>


<!--
========================================
            SIDE NAV WORK
========================================
-->


<md-sidenav md-component-id="left" class="bgOfLeftPannel">

    <div ng-controller="todoCoreController as leftPannel">

        <div class="backgroundImg" layout-align="start center" layout="row">

            <img src="../images/user-icon-set-14.jpg" class="faceRadius" layout-padding/>

            <p style="color: #ffffff" class="md-title">Taimoor Tariq</p>
        </div>

        <div layout="column" layout-align="start start">

            <md-button ng-click="leftPannel.close()" layout-padding>
                <ng-md-icon icon="dashboard" style="fill: #A6AFF1" size="30"></ng-md-icon>
                <span style="color: #A6AFF1" class="md-title">Dashboard</span>
            </md-button>


            <md-button ng-click="leftPannel.close()" layout-padding>
                <ng-md-icon icon="logout" style="fill: #A6AFF1" size="30"></ng-md-icon>
                <span style="color: #A6AFF1" class="md-title">Logout</span>
            </md-button>
        </div>
    </div>
</md-sidenav>


</body>
</html>