<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" type="text/css" href="./node_modules/angular-material/angular-material.css"/>

    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    <script src="./node_modules/angular-material/angular-material.js"></script>

    <script src="Todo.core.main.js"></script>

</head>
<body ng-app="todoCoreModule">

<div ng-controller="todoCoreController as todoCore">


    <section layout="row" flex>

        <md-content flex layout-padding>
            <div layout="column" layout-fill layout-align="top center">

                <div>
                    <md-button ng-click="todoCore.toggleLeft()" ng-hide="todoCore.isOpenLeft()"
                               class="md-primary">
                        Toggle left
                    </md-button>
                </div>

            </div>
            <div flex></div>
        </md-content>



        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" flex-gt-sm="50">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav left</h1>
            </md-toolbar>
            <md-content ng-controller="LeftCtrl as leftPannel" layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input type="text" id="testInput1"
                               ng-model="data" md-autofocus>
                    </md-input-container>
                </form>
                <md-button ng-click="leftPannel.close()" class="md-primary">
                    Close Sidenav Right
                </md-button>
            </md-content>
        </md-sidenav>



    </section>
</div>


</body>
</html>