<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <link rel="stylesheet" type="text/css" href="./node_modules/angular-material/angular-material.css"/>

    <script src="./node_modules/angular/angular.js"></script>
    <script src="./node_modules/angular-animate/angular-animate.js"></script>
    <script src="./node_modules/angular-aria/angular-aria.js"></script>
    <script src="./node_modules/angular-material/angular-material.js"></script>

    <script src="Todo.core.main.js"></script>

</head>
<body ng-app="todoCoreModule">

<div ng-controller="todoCoreController as todoCore">


    <section layout="row" flex>
        <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left"
                    md-is-locked-open="$mdMedia('gt-md')">
            <md-toolbar class="md-theme-indigo">
                <h1 class="md-toolbar-tools">Sidenav Left</h1>
            </md-toolbar>
            <md-content layout-padding ng-controller="LeftCtrl">
                <md-button ng-click="todoCore.close()" class="md-primary" hide-gt-md>
                    Close Sidenav Left
                </md-button>
                <p hide-md show-gt-md>
                    This sidenav is locked open on your device. To go back to the default behavior,
                    narrow your display.
                </p>
            </md-content>
        </md-sidenav>
        <md-content flex layout-padding>
            <div layout="column" layout-fill layout-align="top center">
                <p>
                    The left sidenav will 'lock open' on a medium (>=960px wide) device.
                </p>

                <p>
                    The right sidenav will focus on a specific child element.
                </p>

                <div>
                    <md-button ng-click="todoCore.toggleLeft()"
                               class="md-primary" hide-gt-md>
                        Toggle left
                    </md-button>
                </div>
                <div>
                    <md-button ng-click="todoCore.toggleRight()"
                               ng-hide="todoCore.isOpenRight()"
                               class="md-primary">
                        Toggle right
                    </md-button>
                </div>
            </div>
            <div flex></div>
        </md-content>


        <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right">
            <md-toolbar class="md-theme-light">
                <h1 class="md-toolbar-tools">Sidenav Right</h1>
            </md-toolbar>
            <md-content ng-controller="RightCtrl as ctrl" layout-padding>
                <form>
                    <md-input-container>
                        <label for="testInput">Test input</label>
                        <input type="text" id="testInput"
                               ng-model="data" md-autofocus>
                    </md-input-container>
                </form>
                <md-button ng-click="ctrl.close()" class="md-primary">
                    Close Sidenav Right
                </md-button>
            </md-content>
        </md-sidenav>
    </section>
</div>


</body>
</html>